pipeline/MissingFilesCheck.json
{
	"name": "MissingFilesCheck",
	"properties": {
		"activities": [
			{
				"name": "GM_CheckFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureBlobNavisPowerBi",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.containerName",
								"type": "Expression"
							},
							"fileType": {
								"value": "@pipeline().parameters.fileType",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"modifiedDatetimeStart": {
							"value": "@getPastTime(2,'Day')",
							"type": "Expression"
						},
						"modifiedDatetimeEnd": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Filter1').output.value),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": "https://prod-26.northcentralus.logic.azure.com:443/workflows/6e9acdfdbada474d84b3d46835111806/triggers/SynapseTrigger/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FSynapseTrigger%2Frun&sv=1.0&sig=E5Ua9Wky7Bm4mlvUy9A33AWbQ6QXTlxJ9Jziq2SXGzg",
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"body": {
									"value": "@concat('{\"containerName\":\"',pipeline().parameters.containerName,'\",\"fileType\":\"',pipeline().parameters.fileType,'\"}')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PipelineRoute",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"containerName": {
										"value": "@pipeline().parameters.containerName",
										"type": "Expression"
									},
									"fileType": {
										"value": "@pipeline().parameters.fileType",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GM_CheckFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GM_CheckFiles').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"containerName": {
				"type": "string",
				"defaultValue": "teagtl"
			},
			"fileType": {
				"type": "string",
				"defaultValue": "moves"
			}
		},
		"annotations": []
	}
}